<p id="notice"><%= notice %></p>

<p>
  <b>Cit:</b>
  <%= @quote.cit %>
</p>

<p>
  <b>Source:</b>
  <%= @quote.source %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
